<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" href="../style.css" /> 
    <script src="../script.js" defer></script>
    <title>NewsBox</title>
</head>
<body>
    <header>
        <h1>NewsBox</h1>
    </header>

    <nav>
        <ul class="external-links">
            <li class="#"><a href="#">fansided.com</a></li>
            <li class="#"><a href="#">Our 300+ Fansided Sites</a></li>
        </ul>
        <ul class="accessibility-and-search">
            <li class="accessibility-link"><a href=""><img src="../images/accessibility.png" alt="" width="20" /></a></li>
            <li class="search-link"><a href=""><img src="../images/search.svg" alt="" width="20" /></a></li>
        </ul>
    </nav>

    <main>
        <section class="hero">
            <div class="header">
                <!-- <img src="" alt="" /> -->
                <div class="logo-and-dropdown">
                    <h2>Logo</h2>
                    
                    <div>
                        <img src="../images/angle-small-down.svg" alt="" width="20" class="dropdown-icon" />
                    </div>
                </div>

                <nav class="categories">
                    <ul>
                        <li class="category">
                            <a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20" class="dropdown-icon" /></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                        <li class="category"><a href="#">TV Shows <img src="../images/angle-small-down.svg" alt="" width="20"
                                    class="dropdown-icon"></a>
                            <ul>
                                <li class="sub-category"><a href="#">American Gods</a></li>
                                <li class="sub-category"><a href="#">American Horror Story</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                
                <nav class="social">
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="articles">
                <article style="background: url(../images/BingWallpaper\(10\).jpg); background-repeat: no-repeat" class="middle-article">
                    <div>
                        <a href="">
                            <h2>Sports</h2>
                            <p>Sha'Carri Richardson presented with award</p>
                            <p>by Lashaunta Moore</p>
                        </a>
                    </div>
                </article>
                <!--<article style="background: url(../images/BingWallpaper\(10\).jpg);" class="top-side-article">
                    <a href="">
                        <h2>Sports</h2>
                        <p>Sha'Carri Richardson presented with award</p>
                        <p>by Lashaunta Moore</p>
                    </a>
                </article>
                <article style="background: url(../images/BingWallpaper\(10\).jpg);" class="top-side-article">
                    <a href="">
                        <h2>Sports</h2>
                        <p>Sha'Carri Richardson presented with award</p>
                        <p>by Lashaunta Moore</p>
                    </a>
                </article>
                <article style="background: url(../images/BingWallpaper\(10\).jpg);" class="bottom-side-article">
                    <a href="">
                        <h2>Sports</h2>
                        <p>Sha'Carri Richardson presented with award</p>
                        <p>by Lashaunta Moore</p>
                    </a>
                </article>
                <article style="background: url(../images/BingWallpaper\(10\).jpg);" class="bottom-side-article">
                    <a href="">
                        <h2>Sports</h2>
                        <p>Sha'Carri Richardson presented with award</p>
                        <p>by Lashaunta Moore</p>
                    </a>
                </article> -->
            </div>
        </section>

        <section class="featured">
            <article class="">
                <a href="">
                    <div>
                        <img src="../images/BingWallpaper(10).jpg" alt="" />
                    </div>
                    
                    <div>
                        <h2>Books <span>22h ago</span></h2>
                        <p><span>Never </span>by <span>Jessa Hastings reimagines Peter Pan in a unique way</span></p>
                    </div>
                </a>
            </article>
        </section>

        <section class="categories">
            <h2>Girl Power</h2>
            <div class="articles">
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
            </div>

            <h2>Girl Power</h2>
            <div class="articles">
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
                <article>
                    <img src="" alt="" />
                    <p>Barbie: The Perfect Gateway To Original Content</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <div>
                <img src="" alt="">
                <p>Your Cultures. Your Inbox. Every Day</p>
            </div>
            <div>
                <p>Build your custom Culturess Daily email newsletter with news and analysis on Culturess and all your favorite sports teams, TV shows, and more.</p>
            </div>
            <div>
                <form action="" method="post">
                    <input type="text" />
                    <button type="submit">Sign up, it's FREE</button>
                </form>
            </div>
        </section>

        <section>
            <div>
                <h4>About</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Openings</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <h4>Stay Connected</h4>
                <ul>
                    <li><a href="#">Our 300+ Sites</a></li>
                    <li><a href="#">Mobile Apps</a></li>
                    <li><a href="#">FanSided Daily</a></li>
                    <li><a href="#">Pitch a Story</a></li>
                </ul>
            </div>
            <div>
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Legal Disclaimer</a></li>
                    <li><a href="#">Accessibility Statement</a></li>
                    <li><a href="#">EU Data Subject Requests</a></li>
                    <li><a href="#">Cookie Settings</a></li>
                </ul>
            </div>

            <div>
                <h4>Download our Mobile Apps</h4>
                <p>Your favorite teams, topics, and players all on your favorite mobile devices.</p>
                <div>
                    <ul>
                        <li><img src="#" alt="Apple App Store icon"></li>
                        <li><img src="#" alt="Google App Store icon"></li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <p>&copy; 2023 Minute Media - All Rights Reserved. The content on this site is for entertainment and educational purposes only.
            All betting content is intended for an audience ages 21+. All advice, including picks and predictions, is based on
            individual commentators’ opinions and not that of Minute Media or its related brands. All picks and predictions are
            suggestions only. No one should expect to make money from the picks and predictions discussed on this website. For more
            information, please read our Legal Disclaimer. If you or someone you know has a gambling problem, <a href="tel:1-800-GAMBLER">call 1-800-GAMBLER</a>.</p>
        </section>
    </footer>
</body>
</html>