asgiref==3.6.0
autopep8==2.0.2
beautifulsoup4==4.12.2
dj-database-url==3.1.2
distlib==0.3.6
Django==4.2.1
django-js-asset==2.1.0
django-mathfilters==1.0.0
djangorestframework==3.14.0
filelock==3.10.7
gunicorn==26.0.0
inflection==0.5.1
iniconfig==2.0.0
lxml==5.4.0
packaging==26.2
Pillow>=11.0.0
platformdirs==3.2.0
pluggy==1.0.0
pycodestyle==2.10.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.3
typing_extensions==4.5.0
tzdata==2023.3
virtualenv==20.21.0
virtualenvwrapper-win==1.2.7
whitenoise==6.5.0